<a href="https://colab.research.google.com/github/hsinha177/Python/blob/master/loop_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Question 1: Print First 10 natural numbers using while loop
natNum = 0
while(natNum<10):
  print(natNum)
  natNum += 1

0
1
2
3
4
5
6
7
8
9

In [5]:
#Exercise Question 2: Print the pattern
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end = ' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
#Question 3: Accept n number from user and calculate the sum of all number between 1 and n including n
toTal = 0
lImit = int(input("Enter the range : "))
for i in range(1,lImit+1):
  toTal +=i
print("Sum of all the numbers from 1 to",lImit,"is :",toTal)

Enter the range : 10
Sum of all the numbers from 1 to 10 is : 55

In [8]:
#Question 4: Accept n number from user and print its multiplication table
coUnt = 1
vaLue = int(input("Enter the table number : "))

while(coUnt<=10):
  print(vaLue,"*",coUnt,"=",vaLue*coUnt)
  coUnt += 1

Enter the table number : 12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [10]:
#Question 5: Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 120 stop the loop iteration
dIv = []
indeXing = int(input("Enter the indexing values : "))
print("Enter values : ")
for i in range(0,indeXing):
  dIv.append(int(input()))
print()
for i in dIv:
  if i<=120:
    if (i%5 == 0):
      print(i,end = ' ')
  else:
    break

Enter the indexing values : 5
Enter values :
10
110
130
155
25

10 110

In [13]:
#Question 6: Given a number count the total number of digits in a number
fReq = 0
dIgiT = input("Enter any number : ")
for i in (dIgiT):
  fReq += 1
print("Total number of digits in",dIgiT,"are :",fReq)

Enter any number : 46150230141430
Total number of digits in 46150230141430 are : 14

In [25]:
#Question 7: Print the pattern using for loop
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [36]:
#Question 8: Reverse the list using for loop
oRg = []
rEv = []

indeXing = int(input("Enter the indexing values : "))
print("Enter values : ")
for i in range(0,indeXing):
  oRg.append(int(input()))

lEn = len(oRg)
for i in range(lEn-1,-1,-1):
  rEv.append(oRg[i])
print("Reversed List :",rEv)

Enter the indexing values : 5
Enter values :
14
15
03
02
30
Reversed List : [30, 2, 3, 15, 14]

In [45]:
#Question 9 : Display -10 to -1 using for loop
for i in range(-10,0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1