<a href="https://colab.research.google.com/github/hsinha177/Python/blob/master/Python_Input_Output_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Question 1 : Accept two numbers from the user and calculate multiplication
def mUl(x,y):
  return x*y

dIg1 = int(input("Enter first number : "))
dIg2 = int(input("Enter second number : "))
print("Product of",dIg1,"&",dIg2,"is :",mUl(dIg1,dIg2))

Enter first number : 46
Enter second number : 232
Product of 46 & 232 is : 10672

In [5]:
#Question 2: Display “My Name Is James” as “My**Name**Is**James” using output formatting of a print() function
nAme = input("Enter a string : ")
sTr = nAme.split(" ")
print("**".join(sTr))

Enter a string : harsh is a boy.
harsh**is**a**boy.

In [11]:
#Question 3: Convert decimal number to octal using print() output formatting
dEc = int(input("Enter decimal equivalent : "))

print("Octal eqivalent : %o"%(dEc))
print("Hexa-Decimal equivalent : %x"%(dEc))

Enter decimal equivalent : 232
Octal eqivalent : 350
Hexa-Decimal equivalent : e8

In [15]:
#Question 4: Display float number with 2 decimal places using print()
fLoatingnum = float(input("Enter any number with decimal values : "))

print("Floating number with decimal percision upto 2 digits : %.2f"%(fLoatingnum))

Enter any number with decimal values : 46.232
Floating number with decimal percision upto 2 digits : 46.23

In [17]:
#Question 5: Accept list of 5 float numbers as a input from user
fLoatingList = []
indeXing = int(input("Enter the indexing values : "))
print("Enter floating value : ")
for i in range(0,indeXing):
  fLoatingList.append(float(input()))

print("Floating List : ",fLoatingList)

Enter the indexing values : 3
Enter floating value :
14.03
15.02
30.14
Floating List :  [14.03, 15.02, 30.14]